#drop-area {
    width: 200px;
    height: 200px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
    overflow: hidden;
}
#preview-img{
    object-fit: cover;
    width: 200px;
}

#drop-area:hover {
    background: #f9f9f9;
}

#drop-area img {
    max-width: 100%;
    max-height: 100%;
    display: none;
    object-fit: cover;
}

#drop-area p {
    color: #555;
    margin: 10px;
}

#input-file {
    display: none;
}
textarea{
    border: #000000;
    padding: 5px;
    border-radius: 5px;
    width: 210px;
    min-width: 210px;
    font-size: 14px;
    color: white;
    resize: none;
    background: none;
    border: 1px solid #ffffff;
    overflow-x: hidden;
    margin-top: 10px;
    text-align: justify;
    font-weight: bold;
}
text
input[type="text"] {
    font-weight: bold;
}
button{
    background-color: #dfdfdf; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 210px;
}